<footer class="site-footer">
  <div class="container footer-content">
    <p>&copy; 2025 Md. Nur A Alam. All rights reserved.</p>
    <div class="social-icons">
      <a href="https://www.facebook.com/Md.NurAAlamSoikot" target="_blank" title="FaceBook">
        <img src="assets/img/icons/facebook.png" alt="FaceBook">
      <a href="https://github.com/Md-Nur-A-Alam" target="_blank" title="GitHub">
        <img src="assets/img/icons/github.png" alt="GitHub">
      </a>
      <a href="https://www.linkedin.com/in/md-nur-a-alam13/" target="_blank" title="LinkedIn">
        <img src="assets/img/icons/linkedin.png" alt="LinkedIn">
      </a>
      <a href="mailto:210201044@baust.edu.bd" target="_blank" title="Email">
        <img src="assets/img/icons/email.png" alt="Email">
      <a href="https://www.youtube.com/@nuraalam44" target="_blank" title="YouTube">
        <img src="assets/img/icons/youtube.png" alt="YouTube">
      </a>
    </div>
  </div>
</footer>
