<header class="site-header">
        <div class="container nav-container">
            <div class="logo"><a href="/index.html">Md. Nur A Alam</a></div>
            <nav class="navbar" id="navbar">
                <ul class="nav-links">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="about.html" class="active">About</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="researchs.html">Research</a></li>
                    <li><a href="publications.html">Publications</a></li>
                    <li><a href="honors.html">Honors</a></li>
                    <li><a href="certificates.html">Certificates</a></li>
                </ul>
                <button class="menu-toggle" aria-label="Toggle Navigation">&#9776;</button>
            </nav>
        </div>
    </header>

