<header class="site-header">
    <div class="container nav-container">
        <div class="logo">
            <a href="/index.html">Md. Nur A Alam</a>
        </div>
        <nav class="navbar" id="navbar">
            <ul class="nav-links">
                <li><a href="/index.html">Home</a></li>
                <li><a href="Portfolio_Website/about.html">About</a></li>
                <li><a href="Portfolio_Website/projects.html">Projects</a></li>
                <li><a href="Portfolio_Website/researchs.html">Research</a></li>
                <li><a href="Portfolio_Website/publications.html">Publications</a></li>
                <li><a href="Portfolio_Website/honors.html">Honors</a></li>
                <li><a href="Portfolio_Website/certificates.html">Certificates</a></li>
            </ul>
            <button class="menu-toggle" aria-label="Toggle Navigation">&#9776;</button>
        </nav>

    </div>
</header>